<form>
    <div class="container-fluid body-container gradiant-background">
        <header></header>
        <div class="table-container white-background">
          
                <div class="row">

                    <div class="col-md-12">
                        
                            <p-dataTable [value]="patients">
                                       <p-column field="firstname" header="FirstName"></p-column>
                                        <p-column field="lastname" header="LastName"></p-column>
                                        <p-column field="dateofbirth" header="DateOfBirth"></p-column>
                                        <p-column field="email" header="Email"></p-column> 
                                        <p-column field="phone" header="Phone"></p-column>
                                        <p-column field="q1" header="Q1"></p-column>
                                        <p-column field="q2" header="Q2"></p-column>   
                            </p-dataTable>    
                        
                    </div>
                </div>
            
        </div>
    </div>


</form>