<form>
    <div class="container-fluid body-container gradiant-background">
        <header></header>
         <div class="content-container white-background">
                <div class="content">
   
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">
                <div class="form-group">
                    <div class="form-text">Thank you for signing up!!</div>

                </div>

            </div>
          
            <div class="col-md-2"></div>
        </div>
    </div>
     </div>
    </div>
</form>