<form>
    <div class="container-fluid body-container gradiant-background">
        <div class="table-container">
            <div class="row">
                <div class="col-md-12">
                    <Header></Header>
                </div>
            </div>
             <div class="row">
            <div class="col-md-2">
                <Menu></Menu>
            </div>

            <div class="col-md-8">
                   <p-dataGrid [value]="customers" [paginator]="true" [rows]="8" >
                        <p-header class="customer-header-style">
                           Home Cinema Customers
                        </p-header>
                        <ng-template let-customer pTemplate="item">
                            <div style="padding:13px" class="ui-g-12 ui-md-6 customer-panel-style">
                                <p-panel [header]="customer.FullName" [style]="{'text-align':'left'}">
                                   <div class="customer-detail-style"> <div>Email: </div><div>{{customer.Email}}</div></div>
                                    <div class="customer-detail-style"><div>Mobile:</div><div>{{customer.Phone}}</div></div>
                                    <div class="customer-detail-style"><div>Birth:</div><div>{{customer.DOB}}</div></div>
                                    <div class="customer-detail-style"><div>Registered:</div><div>{{customer.RegistrationDate}}</div></div>
                                </p-panel>
                            </div>
                        </ng-template>
                    </p-dataGrid>
            </div>
             </div>
        </div>
    </div>
</form>