.content-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    border-radius: 15px;
    
}

.table-container{
    margin-left: auto;
    margin-right: auto;
    
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    border-radius: 15px;
    
}

.white-background{
    background-color: white;
    width:900px;
  
}



.header{
    background-color:#63b1e5 !important;
    height: 400px;
}

.headertext{
    padding-top:100px;
    margin: auto;
    text-align: center;
    
}



.body-container{
    font-family:  'Lucida Casual', 'Comic Sans MS';
    
}

.form-group{
     margin-top:20px; 
}

.form-text{
     margin-top:15px; 
}


.continue-button {
    background-color: #280091;
    color: white;
    border-style: none;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}