.register-header-style{
    margin: 1em;
    background-color: #2399e5;
    border-color: #337ab7;
    border-radius: 3px;
    text-align: left;
    padding: 0.5em;
    color: #fff;
}

.register-button-style{
    text-align: center;
    width:100%;
}

.registration-error-style{
    margin-top: 1.5em;
}

.ui-datagrid .ui-datagrid-header{
     background: #2399e5;
     text-align: left;
}



.customer-header-style{
        margin: 1em;
        
}



.customer-detail-style {
      clear: both;
        padding-left: 0.1em;
        padding-right: 0.1em;

}
.customer-detail-style > div {
    float: left;
    width: 50%;
}
.ui-panel-content-wrapper{
    margin-bottom: 1em;
}

