<form>
  
    <div class="container-fluid body-container gradiant-background">
              <header></header>
            <div class="content-container white-background">
                <div class="content">
                    
                        <div class="row">
                            <div class="col-md-4"></div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="button-container">
                                        
                                        <img [src]="signupimage" (click)="signup()" class="signupbutton"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                   <!-- <button (click)="checkList()">Check List</button>
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                  <!--  <button (click)="customer()">Customer</button>-->
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                
            </div>
        
    </div>
</form>