
<form [formGroup]="signUpDetailsForm">

     <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <header class="header col-md-8">
<div class="form-group">
                <div class="form-text">Some Question about Email and Phone Details?</div>


                <div>
                    <input type="radio" value="1"  name="details"
                    [(ngModel)]="selectedOption"> Email</div>

                <div>
                    <input type="radio" value="2" [(ngModel)]="selectedOption" name="details" > Text</div>
                <div>
                    <input type="radio" value="3" [(ngModel)]="selectedOption"  name="details"> Both</div>
                
            </div>

            </header>

        </div>
     </div>
</form>
